/* *
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
* */

/* Timeline holder */

ul.timeline {
  list-style-type: none;
  position: relative;
  /*padding-left: 1.5rem;*/
}

/* Timeline vertical line */

ul.timeline:before {
  content: ' ';
  background: lightgray;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0 0 8px;
  background-color: lightgray !important;
}

/* Timeline item arrow */

.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid lightgray;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/* Timeline item circle marker */

li.timeline-item::before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 4px solid lightgray;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
}

/* *
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
* */

.text-gray {
  color: #999;
}

